body {
}

.first-tab,.second-tab,.third-tab,.fourth-tab
{
    width:960px;
    padding:10px;
}

.width-200 { width:200px; }
.width-800 { width: 800px !important; }
.buttons-container { padding-left: 20px;padding-bottom: 20px; }
.custom-header { padding-left: 20px;background-color: #FFF;background-image: url('images/ui-bg_gloss-wave_55_5c9ccc_500x100.png');
 height: 100px;
    margin: -20px 0 20px !important;
    padding-top: 20px;}
.logout-container { float: right;margin-right: 20px;margin-top: -90px; }